Cython==3.0.0a10
dm-control==1.0.16
dm-env==1.6
dm-tree==0.1.8
glfw==2.6.4
gym==0.24.1
h5py==3.10.0
matplotlib==3.8.2
moviepy==1.0.3
mpi4py==3.1.5
mujoco==3.1.1
mujoco-py==2.1.2.14
numpy==1.23.5
opencv-python==4.8.1.78
packaging==23.2
pandas==2.2.1
Pillow==10.1.0
protobuf==4.25.1
pybullet==3.2.6
PyOpenGL==3.1.7
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scipy==1.11.4
sympy==1.12
tensorboardX==2.6.2.2
torch==2.2.1
torchaudio==2.1.2
torchvision==0.16.2
tqdm==4.66.1
urllib3==2.1.0
wandb==0.16.1
